extends ../layouts/default
include ../mixins/icon

block content
	each service, index in data.services
		section.src-ServiceDescription
			.small-wrapper
				.anchor(id=service.slug)
				h2.section-title= service.title
				div!= service.introduction.extended
				.src-Service_ReadMoreWrapper.align-center(style="margin: 2em;")
					a(href='/').src-Service_ReadMore Palaa etusivulle
						span.src-Service_ReadMore_Icon
							+icon('arrow')
