doctype html
html
	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'titteli...'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		link(href="/styles/site.css", rel="stylesheet")

		block css
		block head

	body
		header.header
			nav
				a.navbar-brand(href='/') lakipalvelut-kumara
				ul
					each link in navLinks
						li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label

		main
			block intro
			block content

		footer.ftr-Footer
			p Footer

		//- Load Google Fonts
		script(src='https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js')
		script.
			WebFont.load({
				google: {
					families: ['Muli:300,300i,600,600i,900,900i']
				}
			});

		//- JavaScript

		//- Include template-specific javascript files by extending the js block
		block js
