doctype html
html
	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'Lakipalvelut Kumara'

		meta(property="og:title" content="Laki- ja asiakirjapalvelut Kumara")
		meta(property="description" content="Olen jyväskyläläinen lakimies. Laadin juridiset asiakirjat luotettavasti ja ammattitaitoisesti. Minulta saat myös edunvalvontavaltakirjat ja muut asiakirjat, sekä kaupanvahvistukset.")
		meta(property="og:description" content="Juridiset asiakirjat luotettavasti ja ammattitaitoisesti. Edunvalvontavaltakirjat ja muut asiakirjat, sekä kaupanvahvistukset.")
		meta(property="og:image" content="/images/og-image.jpg")
		meta(property="og:url" content="http://lakipalvelut-kumara.fi")
		meta(name="twitter:card" content="Juridiset asiakirjat luotettavasti ja ammattitaitoisesti. Edunvalvontavaltakirjat ja muut asiakirjat, sekä kaupanvahvistukset.")
		meta(property="og:site_name" content="Laki- ja asiakirjapalvelut Kumara")
		meta(name="twitter:image:alt" content="Laki- ja asiakirjapalvelut Kumara - Juridiset asiakirjat luotettavasti ja ammattitaitoisesti")
		
		link(rel='apple-touch-icon', sizes='57x57', href='/app-icons/apple-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/app-icons/apple-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/app-icons/apple-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/app-icons/apple-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/app-icons/apple-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/app-icons/apple-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/app-icons/apple-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/app-icons/apple-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='/app-icons/apple-icon-180x180.png')
		link(rel='icon', type='image/png', sizes='192x192', href='/app-icons/android-icon-192x192.png')
		link(rel='icon', type='image/png', sizes='32x32', href='/app-icons/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='96x96', href='/app-icons/favicon-96x96.png')
		link(rel='icon', type='image/png', sizes='16x16', href='/app-icons/favicon-16x16.png')
		link(rel='manifest', href='/app-icons/manifest.json')
		meta(name='msapplication-TileColor', content='#ffffff')
		meta(name='msapplication-TileImage', content='/app-icons/ms-icon-144x144.png')
		meta(name='theme-color', content='#ffffff')

		link(href="/styles/site.css", rel="stylesheet")

		block css
		block head

	body
		main.hr-Hero.js-Hero
			.hr-LogoWrapper
				img(src='/images/logo-white.png', alt='Laki- ja asiakirjapalvelut Kumara').hr-Logo
				.hr-SloganWrapper
					h1.hr-Slogan Laki- ja asiakirjapalvelut Kumara
					p.hr-Subtitle Juridiset asiakirjat luotettavasti ja ammattitaitoisesti

				.hr-Contact
					p Ota yhteyttä sähköpostitse osoitteeseen
					.ctf-ContactMethod
						a(href="mailto:markus@lakipalvelut-kumara.fi").ctf-ContactLink
							span.ctf-ContactLink_Icon: +icon('mail')
							span.ctf-ContactLink_Text markus@lakipalvelut-kumara.fi

				footer.ftr-Footer
					p Laki- ja asiakirjapalvelut Kumara &middot; 2844052-6


		block content			

		//- SVG
		include ../inlined-svg.html

		//- Load Google Fonts
		script(src='https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js')
		script.
			WebFont.load({
				google: {
					families: ['Muli:300,300i,600,600i,900,900i']
				}
			})

		//- Include template-specific javascript files by extending the js block
		block js