// ---
// GLOBAL
//
// Global styles and typography definitions
// ---

// Layout

*, *::before, *::after {
  box-sizing: border-box;
}

// Typography

body {
  font-family: 'Muli', sans-serif;
  font-size: $base-font-size;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3rem;
  font-weight: 300;

	@include from(sm) {
		font-size: 3.75rem;
	}
}

h2 {
  font-size: 2rem;
  font-weight: 300;
	
	@include from(sm) {
		font-size: 3rem;
	}
}

h3 {
  font-size: 1.875rem;
  font-weight: 300;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

a {
	color: $blue;
  text-decoration: none;
  cursor: pointer;
}

strong {
	font-weight: 600;
}

.anchor {
	display: block;
	position: relative;
	top: -3.125rem;
	visibility: hidden;
}

// Remove default button styles for accessibility
button {
  display: inline-block;
  padding: 0;
  border: 0;
  margin: 0;

  font-size: 1em;
  color: inherit;
  background: none;
}
