.srv-Services {
	
}

.srv-ServiceWrapper {
	margin-bottom: 1em;
}

.srv-ServiceContentWrapper {
	border: 1px solid $black;

	@include from(sm) {
		padding-right: 0.5em;
		border-left-width: 0;

		.srv-ServiceWrapper-Left & {
			border-left-width: 1px;
			border-right-width: 0;
		}
	}
}

.srv-Service {
	padding: 1em;
}

.srv-ServiceWrapper-Left .srv-ServiceImageWrapper {
	order: 2;
}

.srv-ServiceImage {
	display: none;

	@include from(sm) {
		display: inline-block;
		width: 100%;
		filter: grayscale(100%);
		transition: filter 0.3s;
		
		.srv-ServiceWrapper:hover & {
			filter: grayscale(0%);
		}
	}
}

.srv-Service_Title {
  margin: 0 0 1em;
	
	font-size: 1.5em;
}

.srv-Service_Title_Text {
  display: inline-block;
}

.srv-Service_Subtitle {
  margin: 2em 0 1em;
  font-size: 1em;
}

.src-Service_ReadMoreWrapper {
	margin-top: 1em;
}

.src-Service_ReadMore { 
	display: inline-block;
	padding: 0.5em 1em;
	border: 1px solid $black;
	
	
	background: $white;
	color: $black;
	
	transition: all 0.15s ease-in-out;
	
	&:hover {
		background: $white;
		color: $black;
		box-shadow: 0 0 1em rgba($black, 0.2);
		transform: scale(1.05);
	}
}

.src-Service_ReadMore_Icon {
	vertical-align: middle;
}

.srv-ServiceDisclaimers {
	text-align: center;
  font-size: 1.2em;
  margin: 2em 0;

	@include from(sm) {
		font-size: 2em;
	}
}

.src-ServiceDescription {
	padding: 1.5em 0;
	font-size: 1rem;

	@include from(sm) {
		padding: 3em 0;
	}

	&:nth-child(odd) {
		background: $black;
		color: $white;

		background: url('/images/bg2.jpg') $black;
		background-position: bottom center;
		background-size: cover;

		@include from(sm) {
			padding: 3em 0;
		}
		
		.src-Service_ReadMore {
			background: none;
			color: white;
			border-color: white;			
		}
	}
}

.src-ServiceDescription_Link {
	padding: 1em; text-align: center;
}
